# Copy this file to .env and fill in real keys
# They will be loaded via os.getenv in config.py

POLYGON_KEY=YOUR_POLYGON_API_KEY
TE_API_KEY=YOUR_TRADING_ECONOMICS_KEY
FRED_API_KEY=YOUR_FRED_KEY
HIBP_API_KEY=YOUR_HAVEIBEENPWNED_KEY

